<table class="table table-striped">
  <thead>
    <tr>
      <ng-container *ngFor="let col of displayData[0] | headerkeys">
        <th *ngIf="!col.isOptional">
          {{col.name}}
        </th>
      </ng-container>
    </tr>
  </thead>

  <tfoot>
    <td colspan="6">
      <app-paginate [totalLength]='displayDatalength' 
      [itemsPerPage]='itemsPerPage'
      [currentPage]='currentPage'
      (notifyCurrentPage)="listenCurrentPage($event)"></app-paginate>
    </td>
  </tfoot>
  <tbody>
    <ng-container *ngFor="let data of this.tableDisplayData">
      <tr *ngIf="data.id">
        <th scope="row">{{data.id}}</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </ng-container>
  </tbody>
</table>