<div class="pull-right">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 0"   >
      <a href='#' (click)="prevPage()" class="page-link">Prev</a>
    </li>
    <li *ngFor="let page of noOfPages" class="page-item">
      <a href="#" class="page-link" (click)="getData(page)">{{page+1}}</a>
    </li>
    <li class="page-item"  [class.disabled]="(currentPage+1) === finalLength"  >
      <a href='#'  (click)="nextPage()" class="page-link">Next</a>
    </li>
  </ul> 
</div>